// TODO: Check out new specs
themes {
    tokyo-night-dark {
        fg "#C0CAF5"
        bg 26 27 38
        black 56 62 90
        red 249 51 87
        green "#4CCBB7"
        yellow "#E0AF68"
        blue 122 162 247
        magenta "#BA99F7"
        cyan "#89DDFF"
        white "#C0CAF5"
        orange "#EC935E"
    }
}
